<div>
    <h1 class="text-center"><span class="text-primary app-title">post<span class="text-danger">A</span>lyzer</span></h1>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li ng-class="{active:isActive('/user/self')}"><a ng-click="goToDashboard()">Me</a></li>
        <li ng-class="{active:isActive('/feed')}"><a ng-click="goToFeed()">Feed</a></li>
        <li ng-class="{active:isActive('/search')}"><a ng-click="goToSearch()">Search</a></li>
        <li ng-class="{active:isActive('/compare')}"><a ng-click="goToCompare()">Compare</a></li>
    </ul>
</div>

<div ui-view></div>
