<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h3>First User</h3>
            <form id="custom-search-form" class="form-search form-horizontal" ng-submit="searchForUser1()">
                <div class="input-append col-xs-12">
                    <input ng-model="searchTerm1" type="text" class="search-query mac-style" placeholder="Search">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </form>

            <div ng-show="hasSearched1" class="row search-results container-fluid">
                <h4>Search results for {{searchTerm1}}</h4>
                <div class="col-xs-4 search-result" ng-repeat="searchResult in searchResults1">
                    <div class="col-xs-12">
                        <img ng-src="{{searchResult.profile_picture}}"/>
                    </div>

                    <div class="col-xs-12">
                        <p><a ng-click="getAllInfo1(searchResult.id)">{{searchResult.username}}</a></p>
                        <p>Full Name: {{searchResult.full_name}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 container-fluid user1" cg-busy="promise">
                <div class="row">
                    <div class="col-xs-12">
                        <img ng-src="{{selfUser1.profile_picture}}"/>
                    </div>

                    <div class="col-xs-12">
                        <h2>{{selfUser1.username}}</h2>
                        <p>Full Name: {{selfUser1.full_name}}</p>
                        <p>Bio: {{selfUser1.bio}}</p>
                        <p>Website: {{selfUser1.website}}</p>
                        <p>Media: {{selfUser1.counts.media}}</p>
                        <p>Followers: {{selfUser1.counts.followed_by}}</p>
                        <p>Following: {{selfUser1.counts.follows}}</p>
                    </div>


                    <div class="col-md-9 basic-stats">
                        <h2>Basic Stats Through Your Last 20 Media Uploads</h2>
                        <div class="col-md-4 well">
                            <p class="text-danger">Like Stats</p>
                            <p>{{selfMediaRecent1.stats.totalLikeScore.name}}: {{selfMediaRecent1.stats.totalLikeScore.value}}</p>
                            <p>{{selfMediaRecent1.stats.likeScorePerMedia.name}}: {{selfMediaRecent1.stats.likeScorePerMedia.value}}</p>
                        </div>

                        <div class="col-md-4 well">
                            <p class="text-danger">Comment Stats</p>
                            <p>{{selfMediaRecent1.stats.totalCommentScore.name}}: {{selfMediaRecent1.stats.totalCommentScore.value}}</p>
                            <p>{{selfMediaRecent1.stats.commentScorePerMedia.name}}: {{selfMediaRecent1.stats.commentScorePerMedia.value}}</p>
                        </div>

                        <div class="col-md-4 well">
                            <p class="text-danger">Combined Stats</p>
                            <p>{{selfMediaRecent1.stats.totalCombinedScore.name}}: {{selfMediaRecent1.stats.totalCombinedScore.value}}</p>
                            <p>{{selfMediaRecent1.stats.combinedScorePerMedia.name}}: {{selfMediaRecent1.stats.combinedScorePerMedia.value}}</p>
                        </div>
                    </div>

                    <div class="col-md-9">

                        <div class="panel panel-default filter-stats">
                            <div class="panel-heading"><h2>Filter Stats Through Your Last 20 Uploads</h2></div>
                            <div class="panel-body">
                                <p>Listed below are filters that you have used for your last 20 media uploads</p>
                            </div>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Filter</th>
                                    <th class="text-center">Times Used</th>
                                    <th class="text-center">Total Likes</th>
                                    <th class="text-center">Total Comments</th>
                                    <th class="text-center">Total Combined</th>
                                    <th class="text-center">Likes per Times Used</th>
                                    <th class="text-center">Comments per Times Used</th>
                                    <th class="text-center">Combined per Times Used</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(filter, filterValue) in selfMediaRecent1.stats.filterStats">
                                    <td>{{filter}}</td>
                                    <td>{{filterValue.timesUsed}}</td>
                                    <td>{{filterValue.totalLikeScoreForFilter}}</td>
                                    <td>{{filterValue.totalCommentScoreForFilter}}</td>
                                    <td>{{filterValue.totalCombinedScoreForFilter}}</td>
                                    <td>{{filterValue.likeScorePerTimesUsed}}</td>
                                    <td>{{filterValue.commentScorePerTimesUsed}}</td>
                                    <td>{{filterValue.combinedScorePerTimesUsed}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-md-8 user-recent-feed">
                        <h2>Your Last 20 Posts</h2>

                        <div class="well row" ng-repeat="medium in selfMediaRecentArray1">
                            <div class="thumbnail col-md-4">
                                <div class="caption">
                                    <p>{{medium.caption.text}}</p>
                                    <p>Time: {{medium.caption.created_time | date : 'medium'}}</p>
                                    <p><a target="_blank" ng-href="{{medium.link}}" class="label label-danger">Visit</a></p>
                                </div>
                                <img ng-src="{{medium.images.low_resolution.url}}">
                            </div>

                            <div class="col-md-8 feed-stats">
                                <p class="text-primary">Stats</p>
                                <p>Comment Count: {{medium.comments.count}}</p>
                                <p>Like Count: {{medium.likes.count}}</p>
                                <p class="text-primary"> LikeScore: <span class="text-danger">{{medium.likeScore}}</span></p>
                                <p class="text-primary">CommentScore: <span class="text-danger">{{medium.commentScore}}</span></p>
                                <p class="text-primary">CombinedScore: <span class="text-danger">{{medium.combinedScore}}</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <h3>Second User</h3>
            <form id="custom-search-form" class="form-search form-horizontal" ng-submit="searchForUser2()">
                <div class="input-append col-xs-12">
                    <input ng-model="searchTerm2" type="text" class="search-query mac-style" placeholder="Search">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </form>

            <div ng-show="hasSearchedButHasNotSelected2" class="row search-results">
                <h4>Search results for {{searchTerm2}}</h4>
                <div class="col-xs-4 search-result" ng-repeat="searchResult in searchResults2">
                    <div class="col-xs-12">
                        <img ng-src="{{searchResult.profile_picture}}"/>
                    </div>

                    <div class="col-xs-12">
                        <p><a ng-click="goToUser(searchResult.id)">{{searchResult.username}}</a></p>
                        <p>Full Name: {{searchResult.full_name}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
