<div class="container" cg-busy="promise">
    <div class="thumbnail col-xs-12">
        <div class="col-xs-12 col-sm-4 text-center">
            <img ng-src="{{selfUser.profile_picture}}"/>
            <h2>{{selfUser.username}}</h2>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-6 text-left">
                <p>Full Name: {{selfUser.full_name}}</p>
                <p>Bio: {{selfUser.bio}}</p>
                <p>Website: {{selfUser.website}}</p>
            </div>

            <div class="col-xs-6 text-left">
                <p>Media: {{selfUser.counts.media}}</p>
                <p>Followers: {{selfUser.counts.followed_by}}</p>
                <p>Following: {{selfUser.counts.follows}}</p>
                <p>{{selfMediaRecent.stats.totalLikeScore.name}}: {{selfMediaRecent.stats.totalLikeScore.value}}</p>
                <p>{{selfMediaRecent.stats.likeScorePerMedia.name}}: {{selfMediaRecent.stats.likeScorePerMedia.value}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading"><h2>Filter Stats</h2></div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-6 jumbotron">
                            <highchart id="chart1" config="chartConfig1" ></highchart>
                        </div>
                        <div class="col-xs-12 col-sm-6 jumbotron">
                            <highchart id="chart2" config="chartConfig2" ></highchart>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h2>Last 20 Posts</h2>

            <div class="well col-xs-12 col-sm-6 col-lg-4" ng-repeat="medium in selfMediaRecentArray">
                <div class="thumbnail col-xs-6">
                    <div class="caption">
                        <p>{{medium.caption.text}}</p>
                        <p>Time: {{medium.caption.created_time | date : 'medium'}}</p>
                        <p><a target="_blank" ng-href="{{medium.link}}" class="label label-danger">Visit</a></p>
                    </div>
                    <img ng-src="{{medium.images.low_resolution.url}}">
                </div>

                <div class="col-xs-6 feed-stats">
                    <p class="text-primary">Stats</p>
                    <p>Comment Count: {{medium.comments.count}}</p>
                    <p>Like Count: {{medium.likes.count}}</p>
                    <p class="text-primary">Likes: <span class="text-danger">{{medium.likeScore}}</span></p>
                    <p class="text-primary">Comments: <span class="text-danger">{{medium.commentScore}}</span></p>
                    <p class="text-primary">Combined: <span class="text-danger">{{medium.combinedScore}}</span></p>
                </div>
            </div>
        </div>

    </div>
</div>