<div class="container-fluid">
    <div class="row">
        <!--<div class="col-md-6">-->
            <!--<a ng-click="instagramLogin()"><button class="btn btn-primary">Login to Instagram</button></a>-->

            <!--<h2>{{selfUser.username}}</h2>-->
            <!--<img ng-src="{{selfUser.profile_picture}}"/>-->
            <!--<p>Full Name: {{selfUser.full_name}}</p>-->
            <!--<p>Bio: {{selfUser.bio}}</p>-->
            <!--<p>Website: {{selfUser.website}}</p>-->
        <!--</div>-->

        <!--<div class="col-md-6">-->
            <!--<h2>Counts</h2>-->
            <!--<p>Media: {{selfUser.counts.media}}</p>-->
            <!--<p>Followers: {{selfUser.counts.followed_by}}</p>-->
            <!--<p>Following: {{selfUser.counts.follows}}</p>-->
        <!--</div>-->

        <div class="col-md-8">
            <h2>Your Feed with Stats</h2>

            <div class="well row" ng-repeat="feedItem in selfFeed">
                <div class="thumbnail col-md-4">
                    <div class="caption">
                        <p>{{feedItem.caption.text}}</p>
                        <p>Time: {{feedItem.caption.created_time | date : 'medium'}}</p>
                        <p><a target="_blank" ng-href="{{feedItem.link}}" class="label label-danger">Visit</a></p>
                    </div>
                    <img ng-src="{{feedItem.images.low_resolution.url}}">
                </div>

                <div class="col-md-4 feed-stats">
                    <p class="text-primary">Stats</p>
                    <p>Comment Count: {{feedItem.comments.count}}</p>
                    <p>Like Count: {{feedItem.likes.count}}</p>
                    <p class="text-primary"> LikeScore: <span class="text-danger">{{feedItem.likeScore}}</span></p>
                    <p class="text-primary">CommentScore: <span class="text-danger">{{feedItem.commentScore}}</span></p>
                    <p class="text-primary">CombinedScore: <span class="text-danger">{{feedItem.combinedScore}}</span></p>
                </div>

                <div class="col-md-4">
                    <p class="text-primary">User Info</p>
                    <img ng-src="{{feedItem.user.profile_picture}}"/>
                    <p>{{feedItem.user.username}}</p>
                    <p>{{feedItem.user.full_name}}</p>
                </div>

            </div>
        </div>
    </div>
</div>








