<div class="container" cg-busy="promise">
    <div class="row">

        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h2>Your Feed with Stats</h2>
            <div class="panel panel-info" ng-repeat="feedItem in selfFeed">
                <div class="panel-body">

                    <div class="col-xs-12 col-sm-3">
                        <a ng-href="/#/user/{{feedItem.user.id}}"><img class="user-image img-responsive center-block" ng-src="{{feedItem.user.profile_picture}}"/></a>
                        <a ng-href="/#/user/{{feedItem.user.id}}"><p class="text-center">{{feedItem.user.username}}</p></a>
                        <p class="text-center">{{feedItem.user.full_name}}</p>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <a ng-href="{{feedItem.link}}"><img class="img-responsive center-block" ng-src="{{feedItem.images.low_resolution.url}}"></a>
                    </div>

                    <div class="col-xs-12 col-sm-5 feed-stats">
                        <p class="text-primary">Filter: <span class="text-danger">{{feedItem.filter}}</span></p>
                        <p class="text-primary">Time: <span class="text-danger">{{feedItem.caption.created_time | date : 'medium'}}</span>
                        <p class="text-primary">Like Count: <span class="text-danger">{{feedItem.likes.count}}</span></p>
                        <p class="text-primary">Likes: <span class="text-danger">{{feedItem.likeScore}}</span></p>
                        <p class="text-primary">Comments: <span class="text-danger">{{feedItem.commentScore}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>








