<div class="jumbotron">
    <div class="container">
        <div class="page-header">
            <h1 class="text-center"><span class="text-primary app-title">inst<span class="text-danger">A</span>lyzer</span></h1>
        </div>

        <p class="text-center"><span class="text-danger">What is instAlyzer?</span> To put it simply, it gives you your Instagram™ stats.
            Find out what the averege likes you get for your recent media uploads.
            This is just one of the many stats we report</p>
        <p class="text-center"><span class="text-danger">Have an insta-rival?</span> (#LOL!) Know two insta-rivals? Or just plain curious? Compare stats
            between two people and find out who's insta-better!</p>
        <p class="text-center">Does a filter affect the number of likes and comments you get? We can't tell you.
            But we have stats to let you decide for yourself</p>
        <p class="text-center text-info">Enjoy!</p>

        <div class="text-center">
            <a ng-href="{{authorizationUrl}}"><button class="btn btn-primary">
                <i class="fa fa-instagram"></i>Login to Instagram</button>
            </a>
        </div>
    </div>
</div>